body {
  margin: 0 auto;
}
/* header section start */
header {
  background: rgba(255, 144, 14, 0.10);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 90px;
}

ul li {
  display: inline;
  margin: 15px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
}

.header-content {
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}
.header-content h1{
  color: black;
  font-size: 50px;
  font-weight: bolder;
}

.explore-btn {
  border-radius: 8px;
  background: #FF900E;
  border: none;
  padding: 15px 20px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
header img{
  padding:50px;
}
/* header section end */