body {
  margin: 0 auto;
}

/* header section start */
header {
  background: rgba(255, 144, 14, 0.10);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 30px;
  font-weight: bold;
  padding-left: 90px;
}

ul li {
  display: inline;
  margin: 15px;
  padding-right: 20px;
  font-size: 17px;
  font-weight: 600;
}

.header-content {
  text-align: center;
  padding-left: 400px;
  padding-right: 400px;
}

.header-content h1 {
  color: black;
  font-size: 50px;
  font-weight: bolder;
}

.explore-btn {
  border-radius: 8px;
  background: #FF900E;
  border: none;
  padding: 15px 20px;
  color: white;
  font-size: 15px;
  font-weight: 700;
}

header img {
  padding: 30px;
}
/* header responsive */
@media screen and (max-width:576px){
  nav{
    display: block;
    align-items: center;
  }
  ul li{
    display: block;
  }
  .header-content {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  header img{
    height: 200px;
    width: 350px;
    padding: 50px;
  }
}
/* header responsive end */
/* header section end */

.features-section {
  display: flex;

}

.feature-content {
  padding-top: 250px;
  padding-left: 40px;
  padding-right: 200px;
}

.feature-content h1 {
  font-size: 45px;
  color: #727272;
}

.features {
  color: #FF900E;
}

.of {
  color: black;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 20px;
  column-gap: 40px;
  padding-left: 100px;
  padding-top: 50px;
}

/* features responsive start */
@media screen and (max-width:576px){
  .features-section {
    display:flex;
    flex-direction: column-reverse;
  }
  .team-images{
    display: inline;
    padding-left: 10px;
  }
}
/* features responsive end */

/* features section end */
/* love and enjoy section start */
.love-enjoy-section {
  display: flex;
  padding: 100px;
}

.love-content {
  padding-right: 50px;
}

.enjoy-heading h1 {
  font-size: 45px;
  border-left: 5px solid #FF900E;
  padding: 10px;
  padding-right: 200px;
}

.enjoy-heading p {
  color: #727272;
}

.content-div {
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 20px 20px;
  margin: 10px;
}
.content-div p{
  color: #727272;
}
.architect-image{
  position: relative;
}
.year{
  bottom: -30px;
  position: absolute;
  left: -50px;
  width: 202px;
  height: 150px;
  background-color: #FF900E;
  text-align: center;
  color: white;
  border-radius: 8px;
}
.year h1{
  font-size: 30px;
}

/* love and enjoy section reaponsive start */
@media screen and (max-width: 576px){
  .love-enjoy-section {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 5px;
  }
  .architect-image img{
    height: 400px;
    width: 300px;
  }
  .year{
    bottom: -10px;
    position: absolute;
    left: -10px;
    width: 150px;
    height: 120px;
    background-color: #FF900E;
    text-align: center;
    color: white;
    border-radius: 8px;
  }
}
/* responsive end */
/* love and enjoy section end */

/* some facts section start */
.facts{
  padding-left: 100px;
}
.icons{
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.icon{
  padding: 10px;
  text-align: center;
  height: 110px;
  width: 120px;
  border: 1px solid #FF900E;
  border-radius: 8px;
}
.icon img{
  height: 25px;
  width: 25px;
}
.number{
  font-size: 35px;
  font-weight: bold;
  padding: 0 auto;
  margin: 0 auto;
}
/* reaponsive icons end*/
 @media screen and (max-width:576px){
  .icons{
    display: block;
    padding: 10px;
  }
  .facts{
    padding-left: 10px;
  }
  .icon{
    padding: 15px;
    margin: 10px;
  }
}
/* responsive icons end */
/* some facts section end */

/* sponspors section start */
.our-sponspors{
  text-align: center;
}
.our-sponspors h1{
  font-size: 40px;
  font-weight: bolder;
}
.our-sponspors p{
  padding-left: 500px;
  padding-right: 500px;
}
.images{
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  padding-bottom: 50px;
}
/* sponspors responsive start */
@media screen and (max-width:576px){
 .images{
  display: flex;
  flex-direction: column;
 } 
 .images img{
  height: 100px;
  width: 200px;
  margin: 30px;
 }
}
/* sponspors responsive end */
/* sponspors section end */

/* footer section start */
footer{
  height: 80px;
  width: 100%;
  background-color: #FFF4E7;
}
footer p{
  text-align: center;
  padding-top: 30px;
}
/* footer section end */
